*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    position: relative;
}

nav{
    background-color: black;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.3);
}

.navbar{
    display: flex;
    align-items: center;
    font-family: 'Old Standard TT', Georgia, serif;
    justify-content: space-between;
    padding: 1.3rem;
}
.navbar .logo {
    color: white;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-size: 1.5rem;
}